block variables
include ../mixins/mixins

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title=pageTitle
        link(href="images/favicon.png" rel="icon" type="image/png")
        link(rel="apple-touch-icon" sizes="180x180" href="images/appletouch.png")

        meta(property="og:title" content=`${pageTitle}`)
        meta(property="og:image" content='<img class=" redactor-autoparser-object"="" src="images/opengraph.jpg">')
        meta(property="og:type" content="")
        meta(property="og:url" content="")
        meta(property="og:description" content="")
        <script>var page = location.href.split('/');page = page[page.length - 1].split('?')[0];window.currentPage = page; if(page != ''){document.querySelector('html').classList.add('loaded')}</script>
        link(href='css/style.min.css' rel='stylesheet')
    body
        .wrapper
            include ../modules/header
            .scroll-viewport
                .scroll-box#scroll-box
                    .page
                        block content
                        if withoutFooter != 'yes'
                            include ../modules/footer
            .selectArea
            .pageSurfing.active
            include ../modules/modal

        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=379d541b-4caa-4542-9d9c-da60da6f9abe" type="text/javascript"></script>
        
        script(src='js/scripts.min.js')
        script(src="js/backend.js")
        block scripts
            
