block variables
include ../mixins/mixins

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=pageTitle
        link(href='css/style.min.css' rel='stylesheet')
    body
        .wrapper
            include ../modules/header
            .scroll-viewport
                .scroll-box#scroll-box
                    block content
                    include ../modules/footer
            .selectArea
            include ../modules/modal
            
        <script src="//api-maps.yandex.ru/2.0/?load=package.standard,package.geoObjects&lang=ru-RU" type="text/javascript"></script>
        script(src='js/scripts.min.js')
        block scripts
            