a.catalog-item(href="/product-detail.html")
  .catalog-item-mass
    span 115 мл
    span 300 мл
  .catalog-item-inf
    span хит продаж
  .catalog-item-img
    img(src="images/product-1.png" alt="")
  .catalog-item-name Герметик акриловый KRASS ULTRASEAL Белый Россия
a.catalog-item(href="/product-detail.html")
  .catalog-item-mass
    span 300 мл
  .catalog-item-inf
  .catalog-item-img
    img(src="images/product-2.png" alt="")
  .catalog-item-name Герметик акриловый KRASS Белый Россия
a.catalog-item(href="/product-detail.html")
  .catalog-item-mass
    span 310 мл
    span 600 мл
    span 7 кг
  .catalog-item-inf
    span хит продаж
    span новинкa
  .catalog-item-img
    img(src="images/product-3.png" alt="")
  .catalog-item-name Герметик акриловый KRASS Термо Барьер для деревянного дома Сосна
a.catalog-item(href="/product-detail.html")
  .catalog-item-mass
    span 115 мл
    span 300 мл
  .catalog-item-inf
  .catalog-item-img
    img(src="images/product-4.png" alt="")
  .catalog-item-name Герметик акриловый KRASS Термо Барьер для деревянного дома Сосна