mixin footer-menu(json)
  .footer-menu.view-item
    each data in json
      a.footer-menu-link(href=`${data.link}`) #{data.name}
    a.footer-menu-link(href="blog.html") Блог
mixin footer-cats(json)
  each item,key in json
    .footer-cats-item.view-item
      a.footer-cats-title #{item.name}
      .footer-cats-links
        each link in item.sub
          a.footer-cats-link #{link}
.footer
  .footer-col
    .footer-mobile-box#footer-mobile
      .footer-mobile-but(data-toggle="footer-mobile") продукция
      .footer-mobile-container
        .footer-cats
          +footer-cats(getData('product/category'))
  .footer-col
    a.footer-phone.view-item(href="tel:8 495 995–­­90–35") 8 495 995–­­90–35
    .footer-loc.view-item
      span Московская область, Люберецкий р-н, пос.Октябрьский, ул.Фабричная, ГАС
      a(href="" data-search="Московская область, Люберецкий р-н, пос.Октябрьский, ул.Фабричная, ГАС").show-in-map на карте
    +footer-menu(getData('menu'))
    .footer-copy.view-item
      span TM KRASS © 2020
      span.pp
        a(href="") Политика конфиденциальности
      span.dev 
        span сделано в 
        a(href="cloudmill.ru") cloudmill