
mixin header-menu(json)
  .header-menu
    each data in json
      a.header-menu-link(href=`${data.link}`) #{data.name}
.header
  .content
    .header-burger
      .header-burger-but 
    .header-product
      a.header-product-but(href='#header-prod').js-modal
        span.header-product-open продукция
    .header-search#header-search
      a.header-search-but(href='#header-search').js-modal
        +icon('search' , 'svg')
    .header-logo-box
      a.header-logo(href="/")
        img(src="images/logo.png" alt="")
        .header-logo-strs
          span
          span
          span
          span
    +header-menu(getData('menu'))