a.news-list-item(href="./news-detail.html").show-item.showInRight-self(data-group='news-items')
  .news-list-item-date 28 мая 2020
  .news-list-item-name Впервые в России! KRASS уплотнитель двухкомпонентный самоклеящийся!
  .news-list-item-disc Теперь вы можете приобрести уникальный уплотнитель двухкомпонентный самоклеящийся ТМ KRASS, произведенный по технологии тонкого наслоения.
  .news-list-item-str
    +icon('str-news','svg')
    +icon('str-link','svg')
a.news-list-item(href="./news-detail.html").show-item.showInRight-self(data-group='news-items')
  .news-list-item-date 28 мая 2020
  .news-list-item-name Герметик – незаменимый строительный материал
  .news-list-item-disc При производстве строительных и ремонтных работ не обойтись без использования герметиков, которые представляют собой одно или двухкомпонентную эластичную смесь.
  .news-list-item-str
    +icon('str-news','svg')
    +icon('str-link','svg')