.prodInfo-sert-item
  .prodInfo-sert-top
    a.prodInfo-sert-type(href="" download)
      span PDF
    .prodInfo-sert-size 257 KB
    .prodInfo-sert-links
      a(href="" download) Скачать
      a(href="" target="_blank") Смотреть
  a.prodInfo-sert-name(href="" download) Техническая карта
.prodInfo-sert-item
  .prodInfo-sert-top
    a.prodInfo-sert-type(href="" download)
      span PDF
    .prodInfo-sert-size 257 KB
    .prodInfo-sert-links
      a(href="" download) Скачать
      a(href="" target="_blank") Смотреть
  a.prodInfo-sert-name(href="" download) Свидетельства о государственной регистрации
.prodInfo-sert-item
  .prodInfo-sert-top
    a.prodInfo-sert-type(href="" download)
      span PDF
    .prodInfo-sert-size 257 KB
    .prodInfo-sert-links
      a(href="" download) Скачать
      a(href="" target="_blank") Смотреть
  a.prodInfo-sert-name(href="" download) Сертификаты соответствия
