.prodInfo-sert-item
  .prodInfo-sert-top
    .prodInfo-sert-type
      span PDF
    .prodInfo-sert-size 257 KB
    .prodInfo-sert-links
      a(href="" download) Скачать
      a(href="" target="_blank") Смотреть
  .prodInfo-sert-name Техническая карта
.prodInfo-sert-item
  .prodInfo-sert-top
    .prodInfo-sert-type
      span PDF
    .prodInfo-sert-size 257 KB
    .prodInfo-sert-links
      a(href="" download) Скачать
      a(href="" target="_blank") Смотреть
  .prodInfo-sert-name Свидетельства о государственной регистрации
.prodInfo-sert-item
  .prodInfo-sert-top
    .prodInfo-sert-type
      span PDF
    .prodInfo-sert-size 257 KB
    .prodInfo-sert-links
      a(href="" download) Скачать
      a(href="" target="_blank") Смотреть
  .prodInfo-sert-name Сертификаты соответствия