.blog-item
  a.blog-item-img(href='./blog-detail.html') 
    img(src="images/main-blog-1.jpg" alt="")
  .blog-item-content
    a.blog-item-title(href='./blog-detail.html')  Герметик – незаменимый строительный материал
    .blog-item-text При производстве строительных и ремонтных работ не обойтись без использования герметиков, которые представляют собой одно или двухкомпонентную эластичную смесь.
    .blog-item-tags
      a(href="") Герметик
      a(href="") Ремонт
.blog-item
  a.blog-item-img(href='./blog-detail.html') 
    img(src="images/main-blog-2.jpg" alt="")
  .blog-item-content
    a.blog-item-title(href='./blog-detail.html')  Запенили! Все о монтажной пене KRASS
    .blog-item-text Впервые применяться в строительстве монтажная пена стала в начале 80-х, но за счет своих свойств и удобства очень быстро завоевала любовь и доверие строителей всего мира. 
    .blog-item-tags
      a(href="") Герметик
      a(href="") Ремонт
.blog-item
  a.blog-item-img(href='./blog-detail.html') 
    img(src="images/main-blog-3.jpg" alt="")
  .blog-item-content
    a.blog-item-title(href='./blog-detail.html')  Авторский надзор во время ремонта новостройки под ключ
    .blog-item-text Авторский надзор – регулярное посещение ремонтируемого объекта дизайнером проекта. Основной целью надзора является решение возникающих вопросов с проектной документацией, а также контроль соответствия работ дизайн-проекту.
    .blog-item-tags
      a(href="") Герметик
      a(href="") Ремонт
.blog-item
  a.blog-item-img(href='./blog-detail.html') 
    img(src="images/main-blog-4.jpg" alt="")
  .blog-item-content
    a.blog-item-title(href='./blog-detail.html')  С чего начинается ремонт квартиры в новостройке
    .blog-item-text В большинстве случаев при выборе квартиры в новостройке предпочтение отдается вариантам без отделки. Стоимость такой жилплощади ниже, чем полностью отделанного жилья, а отсутствие ремонта предоставляет владельцу полную свободу воплощения своих фантазий. 
    .blog-item-tags
      a(href="") Герметик
      a(href="") Ремонт
.blog-item
  a.blog-item-img(href='./blog-detail.html') 
    img(src="images/main-blog-1.jpg" alt="")
  .blog-item-content
    a.blog-item-title(href='./blog-detail.html')  Герметик – незаменимый строительный материал
    .blog-item-text При производстве строительных и ремонтных работ не обойтись без использования герметиков, которые представляют собой одно или двухкомпонентную эластичную смесь.
    .blog-item-tags
      a(href="") Герметик
      a(href="") Ремонт
.blog-item
  a.blog-item-img(href='./blog-detail.html')
    img(src="images/main-blog-2.jpg" alt="")
  .blog-item-content
    a.blog-item-title(href='./blog-detail.html') Запенили! Все о монтажной пене KRASS
    .blog-item-text Впервые применяться в строительстве монтажная пена стала в начале 80-х, но за счет своих свойств и удобства очень быстро завоевала любовь и доверие строителей всего мира. 
    .blog-item-tags
      a(href="") Герметик
      a(href="") Ремонт