.nextCat.content.paralax-box
  .section-name следующая категория
  .nextCat-img
    .paralax-item
      img(src="images/catalog-head-4.png" alt="" height="300")
  .section-title.nextCat-title Монтажные пены
    .nextCat-link
      +link()
        |ко всем монтажным пенам