.subscribe.content.section-full.section-border#subscribe
  .section-title
    .show-item.showInLeft(data-group='subscribe') Подпишитесь, чтобы быть <br> в курсе новостей и новинок <br> продукции KRASS
  .subscribe-str
    +icon('multi-str-blue','svg')
  .subscribe-img
    img(src="images/bg-blog.png" alt="")
  .subscribe-mobile-box.lazy-opened

    .subscribe-mobile-but.lazy-opened-but
      .show-item.showInRight(data-group='subscribe') подписаться на новости <br> и новинки KRASS
    .subscribe-mobile-container.lazy-opened-box 
      form.subscribe-form
        .show-item.showInRight(data-group='subscribe')  
          +fieldBase('nameSub','name','Имя')
        .show-item.showInRight(data-group='subscribe')  
          +fieldBase('emailSub','email','Email')
        .field-row.show-item.showInRight(data-group='subscribe')  
          +submit()
            |подписаться на новости
          +fieldCheck('ppSub','pp')
            |Согласен на обработку персональных данных <br> в соответствии с 
            a(href="") политикой конфиденциальности
  .subscribe-success
    .subscribe-success-title Вы успешно оформили подписку.
    .subscribe-success-reset
      +link()
        |Подписаться еще

