.usefulArt.content
  .section-title.usefulArt-title полезные статьи
    .usefulArt-link
      +link('./blog.html')
        |перейти в блог
  .blog-list.usefulArt-list
    include ../modules/list_items_blog.pug
  .usefulArt-link-mobile
    +link('./blog.html')
      |перейти в блог