.whereBuy.content
  .section-title где купить
  .whereBuy-text Продукция представлена в 80 регионах <br> России и странах Таможенного союза
  .field.field-select
    label(for="region")
      span Выберите свой регион
      select#region(name="region")
        option(value="0") Москва
        option(value="1") Санкт-Петербург
  +link()
    |Перейти
  .whereBuy-img
    img(src="images/whereBuy-map.png", alt="")
  .whereBuy-str
    +icon('multi-str-orange','svg')