.whereBuy.content.section-full.section-border
  .section-title.view-item где купить
  .whereBuy-text.view-item Продукция представлена в 80 регионах <br> России и странах Таможенного союза
  +fieldSelect('region','region',[[0,'Москва'],[1,"Санкт-Петербург"]])
  +link()
    |Перейти
  .whereBuy-img.view-item
    img(src="images/whereBuy-map.png", height="555" alt="")
  .whereBuy-str
    +icon('multi-str-orange','svg')