@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/fancybox/dist/css/jquery.fancybox.css";
@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/select2/dist/css/select2.min.css";
@import "mixins/import";
@import "base/import";
@import "modules/import";
@import "components/import";
@import "pages/import";
@import "components/buttons";

.wrapper {
  font-family: "Ekibastuz";
  background-color: white;
  * {
    font-family: "Ekibastuz";
  }
  
  .page {
    background-color: white;
  }
}
