@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/fancybox/dist/css/jquery.fancybox.css";
@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/select2/dist/css/select2.min.css";
@import "base/import";
@import "mixins/import";
@import "modules/import";
@import "components/import";
@import "pages/import";


.wrapper {
  font-family: "Ekibastuz";
  *{
    font-family: "Ekibastuz";
  }
  .content {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 1;
  }

  .section {
    &-title {
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 130%;
      text-transform: uppercase;
      color: #0054a4;
    }
    &-name {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 18px;
      text-transform: uppercase;
      color: #0054a4;
      position: absolute;
      left: 40px;
      top: 40px;
    }
    &-full {
      height: calc(100vh - 90px);
    }
    &-border {
      border-top: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd;
      &+.section-border{
        border-top: 0;
      }
    }
    &-empty{
      height: 200vh;
      background: linear-gradient(0deg, red,blue);
    }  
  }
  .page{
    background-color: white;
  }
}
