@mixin will-change($name, $beginValue, $time: 0.3s) {
  will-change: $name;
  transition: $name $ease-main;
  transition-duration: $time;
  #{$name}: $beginValue;
}

@mixin linkHover() {
  @include will-change(color, $color-main);
  &:after,
  &:before {
    transition: color $ease-main, background $ease-main;
  }
  &:hover {
    color: $color-hover-link;
    &:before,
    &:after {
      color: $color-hover-link;
      background-color: $color-hover-link;
    }
  }
}

@mixin circleHover($size, $color, $hover: "") {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: $size;
  height: $size;
  border: 1px solid $color;
  transition: background $ease-main;
  i {
    transition: filter $ease-main;
  }
  @if ($hover == "") {
    &:hover {
      background: $color;
      color: white;
      i {
        filter: grayscale(1) brightness(0) invert(1);
      }
    }
  }
}
@mixin circleHoverBounce($size, $color, $hover: "") {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: $size;
  height: $size;
  transition: background $ease-main;
  i {
    transition: filter $ease-main;
  }
  &::before,
  &:after {
    content: "";
    display: block;
    width: $size / 0.86666;
    height: $size / 0.86666;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    border: 1px solid $color;
    border-radius: 50%;
    transition: transform $ease-main;
  }
  &:before {
    transform: translate(-50%, -50%) scale(0.86666);
  }
  &:after {
    transform: translate(-50%, -50%) scale(0);
    background: $color;
  }
  i {
    transition: filter $ease-main;
  }
  @if ($hover == "") {
    &:hover {
      &:after,
      &::before {
        transform: translate(-50%, -50%) scale(1);
      }
      i {
        filter: grayscale(1) brightness(0) invert(1);
      }
    }
  }
}

@mixin tagHover() {
  transition: border $ease-main, color $ease-main;
  &:hover {
    border-color: #cc3e1e;
  }
  &.active {
    border-color: #cc3e1e;
    color: #cc3e1e;
  }
}
