@mixin will-change($name, $beginValue, $time: 0.3s) {
  will-change: $name;
  transition: $name $ease-main;
  transition-duration: $time;
  #{$name}: $beginValue;
}

@mixin linkHover() {
  @include will-change(color, $color-main);
  &:after,
  &:before {
    transition: color $ease-main, background $ease-main;
  }
  &:hover {
    color: $color-hover-link;
    &:before,
    &:after {
      color: $color-hover-link;
      background-color: $color-hover-link;
    }
  }
}
