/*
Миксин для быстрого выравнивания блока по центру
*/
@mixin pos-center-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin pos-start-block {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin background($url) {
  background-image: url($url);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin grid() {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  @media (max-width: 1400px) {
    grid-gap: 30px;
  }
  @media (max-width: 1350px) {
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  // START fix 
  @media (max-width: 1140px) {
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
  // END fix
  @media (max-width: 1050px) {
    grid-gap: 20px;
  }
  @media (max-width: 980px) {
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 660px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
@mixin gridColWidth {
  width: calc((100% - 120px) / 4);
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 1250px) {
    width: calc((100% - 90px) / 4);
  }
  @media (max-width: 1024px) {
    width: calc((100% - 40px) / 3);
  }
  @media (max-width: 768px) {
    width: calc((100% - 15px) / 2);
  }
  @media (max-width: 550px) {
    width: 100%;
  }
}
