/*
Миксин для быстрого выравнивания блока по центру
*/
@mixin pos-center-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin pos-start-block {
  position: absolute;
  top: 0;
  left: 0;
}


@mixin background($url){
  background-image: url($url);
  background-position: center center;
  background-size: contain;background-repeat: no-repeat;
}

@mixin grid(){
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 40px;
}