@mixin opacityHide() {
  will-change: opacity;
  opacity: 0;
  pointer-events: none;
  transition: opacity $ease-main;
}
@mixin opacityShow() {
  opacity: 1;
  pointer-events: all;
}


@mixin inLeftHide() {
  will-change: transform;
  transition: transform 1.25s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateX(calc(-100% - 50px));
}
@mixin inLeftShow(){
  transform: translateX(0);
}

@mixin inRightHide() {
  will-change: transform;
  transition: transform 1.25s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateX(calc(100% + 50px));
}
@mixin inRightShow(){
  transform: translateX(0);
}


