/* ##########
Убираем outline
########## */

button::-moz-focus-inner {
  border: 0;
}

*:focus {
  outline: none;
}

/* ##########
Цвет выделения текста
########## */

::selection {
  background: $color-main;
  color: white;
}

/* ##########
Стандартный цвет плейсхолдера
########## */

input,
textarea {
  &::placeholder {
    color: $color-placeholder;
  }
}

/* ##########
Настройки для автозаполнения Chrome
########## */

input:-webkit-autofill {
  -webkit-text-fill-color: $color-input !important; // Поменять цвет на аналогичный цвету input
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000000000s ease-in-out 0s !important; // Убираем желтую заливку для автозаполнения в Chrome
}

/* ##########
Основные стили
########## */

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; // Убираем горизонтальный скролл
  width: 100%;
  min-height: 100%;
}

body {
  font-family: $font-main; // Задаем основной шрифт
  font-size: 16px; // Убираем проблему с отступами между inline-элементами
  color: $color-basic;
  overflow: hidden;
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
}

img {
  box-sizing: content-box;
}

/* ##########
Сброс стандартных отступов для типографики, списков и таблиц
########## */

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
span,
ul,
ol,
li,
tr,
td,
th,
table,
blockquote {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: inherit;
  font-weight: inherit;
}

ul,
ol {
  list-style: none;
}

span {
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* ##########
Сброс стилей для активных элементов, добавляем стандарнтый transition
########## */

a,
input,
button,
select,
textarea {
  transition: color $ease-main, border-color $ease-main;
}

button {
  cursor: pointer;
}

select,
input,
textarea,
button {
  color: $color-input;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0; // Убираем авто-закругление углов на iOS
  background-color: transparent;
  font-family: $font-main;
}

//Стили для спрайтов
.icon,
.svg-icon {
  display: inline-block;
}
@include sprites($spritesheet-sprites);

html {
  @include customScrollBar(6px, 6px, #0054a4, #eff7fd);
  &.closeScroll {
    overflow: hidden;
    &.no-touch{
      .wrapper {
        .scroll-viewport {
          margin-right: 6px;
          width: calc(100% - 6px);
        }
        .header {
          margin-right: 6px;
          width: calc(100% - 6px);
        }
      }
    }
  }
}
body,
html {
  overflow-x: hidden;
  overflow-y: scroll;
}

#map {
  .ymaps-b-balloon__sprite_type_tail.ymaps-b-balloon__sprite {
    background: url("../images/mapicon.png") top center no-repeat;
    background-image: url("../images/mapicon.png") !important;
    background-size: contain !important;
    height: 45px;
    width: 29px;
    margin-top: -25px;
    left: 6px;
    transform: translateX(-50%);
  }
  .ymaps-shadows-pane {
    display: none;
  }
  .ymaps-b-balloon {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
    background: white;
    * {
      border: none;
    }
  }
  .ymaps-b-balloon__sprite {
    background: none !important;
  }
  .ymaps-b-balloon__close {
    background: none;
    top: 0;
    right: 0;
    width: 25px;
    background: #f0f0f0;
    height: 25px;
    &::before,
    &:after {
      content: "";
      display: block;
      width: 12px;
      height: 1px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform-origin: center center;
      transform: translate(-50%, -50%) rotate(45deg);
      background: #0054a4;
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  .ymaps-b-balloon__content-holster {
    padding: 15px 30px;
  }
  [class*="-balloon_layout_normal"] {
    animation: showBottom $ease-main both;
  }
  @keyframes showBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .placemark {
    &-name {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 140%;
      color: #cc3e1e;
      margin-bottom: 5px;
    }
    &-content {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 160%;
      color: #3b3f44;
    }
  }
  .ymaps-layers-pane,
  canvas {
    filter: grayscale(100%);
  }
}
.map {
  &-content {
    #map {
      height: 500px;
    }
  }
  &-close {
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 20px;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    transition: transform $ease-main;
    z-index: 2;
    &:hover {
      transform: rotate(-45deg);
    }
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: #0054a4;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: #0054a4;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }
}
