.svg-icon {
    font-size: 10px;
}

.svg-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../images/sprite.svg");
    background-repeat: no-repeat;
    background-size: 1.8em 5em;
}

.no-svg .svg-icon:before {
    background-image: url("../images/sprite.png");
}



  .svg-icon.svg-search:before {
      background-position: 0em 0em;
      width: 1.8em;
      height: 1.8em;
  }




  .svg-icon.svg-str-big-link-inside:before {
      background-position: 0em -1.8em;
      width: 1.7em;
      height: 1.6em;
  }




  .svg-icon.svg-str-link:before {
      background-position: 0em -3.4em;
      width: 1.7em;
      height: 1.6em;
  }





