.svg-icon {
    font-size: 10px;
}

.svg-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../images/sprite.svg");
    background-repeat: no-repeat;
    background-size: 4.9em 28.7em;
}

.no-svg .svg-icon:before {
    background-image: url("../images/sprite.png");
}



  .svg-icon.svg-fb:before {
      background-position: 0em 0em;
      width: 1em;
      height: 2em;
  }




  .svg-icon.svg-mess:before {
      background-position: 0em -2em;
      width: 2.2em;
      height: 2.2em;
  }




  .svg-icon.svg-multi-str-blue:before {
      background-position: 0em -4.2em;
      width: 4.9em;
      height: 4.4em;
  }




  .svg-icon.svg-multi-str-orange:before {
      background-position: 0em -8.6em;
      width: 4.9em;
      height: 4.4em;
  }




  .svg-icon.svg-print:before {
      background-position: 0em -13em;
      width: 2em;
      height: 1.7em;
  }




  .svg-icon.svg-print-white:before {
      background-position: 0em -14.7em;
      width: 2em;
      height: 1.7em;
  }




  .svg-icon.svg-reset:before {
      background-position: 0em -16.4em;
      width: 1.4em;
      height: 1.3em;
  }




  .svg-icon.svg-reset-color:before {
      background-position: 0em -17.7em;
      width: 1.4em;
      height: 1.3em;
  }




  .svg-icon.svg-search:before {
      background-position: 0em -19em;
      width: 1.8em;
      height: 1.8em;
  }




  .svg-icon.svg-share:before {
      background-position: 0em -20.8em;
      width: 1.8em;
      height: 1.7em;
  }




  .svg-icon.svg-str-big-link-inside:before {
      background-position: 0em -22.5em;
      width: 1.7em;
      height: 1.6em;
  }




  .svg-icon.svg-str-link:before {
      background-position: 0em -24.1em;
      width: 1.7em;
      height: 1.6em;
  }




  .svg-icon.svg-tw:before {
      background-position: 0em -25.7em;
      width: 2.1em;
      height: 1.7em;
  }




  .svg-icon.svg-vk:before {
      background-position: 0em -27.4em;
      width: 2.3em;
      height: 1.3em;
  }





