.svg-icon {
    font-size: 10px;
}

.svg-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../images/sprite.svg");
    background-repeat: no-repeat;
    background-size: 5.9em 52.3em;
}

.no-svg .svg-icon:before {
    background-image: url("../images/sprite.png");
}



  .svg-icon.svg-calendar:before {
      background-position: 0em 0em;
      width: 4.2em;
      height: 4.5em;
  }




  .svg-icon.svg-download:before {
      background-position: 0em -4.5em;
      width: 1.5em;
      height: 1.5em;
  }




  .svg-icon.svg-europe:before {
      background-position: 0em -6em;
      width: 5.9em;
      height: 5.8em;
  }




  .svg-icon.svg-fb:before {
      background-position: 0em -11.8em;
      width: 1em;
      height: 2em;
  }




  .svg-icon.svg-iso:before {
      background-position: 0em -13.8em;
      width: 4.4em;
      height: 5em;
  }




  .svg-icon.svg-mess:before {
      background-position: 0em -18.8em;
      width: 2.2em;
      height: 2.2em;
  }




  .svg-icon.svg-multi-str-blue:before {
      background-position: 0em -21em;
      width: 4.9em;
      height: 4.4em;
  }




  .svg-icon.svg-multi-str-orange:before {
      background-position: 0em -25.4em;
      width: 4.9em;
      height: 4.4em;
  }




  .svg-icon.svg-multi-str-orange-down:before {
      background-position: 0em -29.8em;
      width: 4.4em;
      height: 4.9em;
  }




  .svg-icon.svg-print:before {
      background-position: 0em -34.7em;
      width: 2em;
      height: 1.7em;
  }




  .svg-icon.svg-print-white:before {
      background-position: 0em -36.4em;
      width: 2em;
      height: 1.7em;
  }




  .svg-icon.svg-reset:before {
      background-position: 0em -38.1em;
      width: 1.4em;
      height: 1.3em;
  }




  .svg-icon.svg-reset-color:before {
      background-position: 0em -39.4em;
      width: 1.4em;
      height: 1.3em;
  }




  .svg-icon.svg-search:before {
      background-position: 0em -40.7em;
      width: 1.8em;
      height: 1.8em;
  }




  .svg-icon.svg-share:before {
      background-position: 0em -42.5em;
      width: 1.8em;
      height: 1.7em;
  }




  .svg-icon.svg-small-str:before {
      background-position: 0em -44.2em;
      width: 1.3em;
      height: 0.3em;
  }




  .svg-icon.svg-str-big-link-inside:before {
      background-position: 0em -44.5em;
      width: 1.7em;
      height: 1.6em;
  }




  .svg-icon.svg-str-link:before {
      background-position: 0em -46.1em;
      width: 1.7em;
      height: 1.6em;
  }




  .svg-icon.svg-str-news:before {
      background-position: 0em -47.7em;
      width: 1.7em;
      height: 1.6em;
  }




  .svg-icon.svg-tw:before {
      background-position: 0em -49.3em;
      width: 2.1em;
      height: 1.7em;
  }




  .svg-icon.svg-vk:before {
      background-position: 0em -51em;
      width: 2.3em;
      height: 1.3em;
  }





