.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 1000;
  &.active {
    pointer-events: all;
    .modal-bg {
      opacity: 1;
    }
  }
  &-bg {
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: $ease-main;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
  }
  &-content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  &-item {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    @include inLeftHide();
    &#header-burger {
      display: flex;
      justify-content: flex-end;
      @include inRightHide();
    }
    &.active {
      @include inLeftShow();
      &#header-burger {
        @include inRightShow();
      }
    }

    .zoom-hide-item {
      transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1),
        opacity 0.5s ease;
      transform: scale(1.1);
      opacity: 0;
      &.show {
        transform: none;
        opacity: 1;
      }
    }
  }
  &-form {
    &-content{
      max-width: 100%;
      width: 520px;
      background-color: white;
      min-height: 100vh;
      padding: 40px;
      position: relative;
    }
    &-step{
      &:not(.active){
        display: none;
      }
    }
    &-close {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      line-height: 18px;
      text-transform: uppercase;
      color: #0054a4;
      display: inline-flex;
      align-items: center;
      &:after {
        content: "";
        display: block;
        margin-left: 8px;
        width: 10px;
        height: 2px;
        background: #0054a4;
        border-radius: 2px;
        transform-origin: center center;
        transition: transform $ease-main;
      }
      &:hover {
        &:after {
          transform: rotate(180deg);
        }
      }
    }
    &-title {
      font-style: normal;
      font-weight: bold;
      font-size: 35px;
      line-height: 130%;
      text-transform: uppercase;
      color: #0054a4;
      margin-top: 40px;
      margin-bottom: 30px;
    }
    &-reset{
      position: absolute;
      bottom: 40px;
      left: 40px;
    }
  }
}
