html {
  &:not(.loaded) {
    &:not(.closing-preloader) {
      overflow: hidden;
      .header {
        background-color: #f2f8fd;
        &:before {
          transform: translate(0, -20%) rotate(-30deg);
        }
        > .content {
          > div:not(.header-logo-box) {
            transform: translateY(100px);
            opacity: 0;
          }
          .header-logo {
            top: 50vh !important;
            left: 50% !important;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
    .header {
      &:before {
        @include performance();
        content: "";
        display: block;
        width: 200%;
        height: 180vh;
        transition: $ease-olong;
        position: absolute;
        top: 0;
        right: -50%;
        transform: translate(0, -100%) rotate(0);
        background-color: #c8e1ed;
        @media (min-width: 1650px) {
          width: 210%;
          height: 250vh;
        }
      }
      &-logo {
        @include performance();
        transition: $ease-olong;
        left: 0;
        top: 0;
        transform: translate(0, 0);
        position: absolute;
      }
      > .content > div {
        transition: $ease-long;
        transition-duration: 1.3s;
      }
    }
  }
}
