.subscribe {
  padding-top: 27px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
  height: auto !important;
  @media (max-width: 650px) {
    margin-bottom: 60px;
  }
  &.only-mobile{
    @media(min-width: 1025px){
      display: none;
    }
  }
  .section-title {
    @media (max-width: 1400px) {
      margin-bottom: 20px;
    }
    @media (max-width: 650px) {
      display: none;
    }
    &-sub{
      @media(min-width: 1351px){
        height: 0;
      }
    }
  }
  &-str {
    position: absolute;
    right: 40px;
    top: 40px;
    @media (max-width: 650px) {
      display: none;
    }
  }
  &-mobile {
    &-box {
      &:not(.active) {
        @media (max-width: 650px) {
          .subscribe-mobile {
            &-container {
              display: none;
            }
          }
        }
      }
      &.active {
        @media (max-width: 650px) {
          .subscribe-mobile {
            &-but {
              color: #cc3e1e;
              margin-bottom: 20px;
              &:after {
                opacity: 0;
              }
              &:before {
                background-color: #cc3e1e;
              }
            }
          }
        }
      }
    }
    &-but {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 110%;
      text-transform: uppercase;
      color: #0054a4;
      padding-right: 30px;
      position: relative;
      transition: color $ease-main;
      &:before {
        content: "";
        width: 16px;
        height: 2px;
        display: block;
        border-radius: 2px;
        background: #0054a4;
        position: absolute;
        transition: background $ease-main;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
      }
      &:after {
        content: "";
        width: 16px;
        height: 2px;
        display: block;
        border-radius: 2px;
        background: #0054a4;
        position: absolute;
        right: 0px;
        transition: opacity $ease-main;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
      }
      @media (min-width: 651px) {
        display: none;
      }
    }
  }
  &-form {
    margin-left: 50%;
    margin-bottom: 180px;
    padding-top: 10px;
    @media (max-width: 1400px) {
      margin-left: calc(100% - 720px);
    }
    @media (max-width: 1366px) {
      margin-bottom: 50px;
    }
    @media (max-width: 1024px) {
      margin-left: 200px;
    }
    @media (max-width: 950px) {
      margin-left: 0;
    }
    @media (max-width: 650px) {
      margin-bottom: 0;
      .field-row {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-bottom: 0px;
        & > *:last-child {
          margin-bottom: 30px;
        }
      }
    }
  }
  &-img {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(calc(-100% + 280px), 50%);
    @media (max-width: 1366px) {
      height: 600px;
      img{
        max-height: 100%;
      }
    }
    @media (max-width: 1024px) {
      display: none;
    }
  }
  &-success {
    @include opacityHide();
    position: absolute;
    height: 100%;
    z-index: 5;
    background-color: white;
    padding: 80px 40px;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &.active {
      @include opacityShow();
    }
    &-title {
      font-style: normal;
      font-weight: bold;
      font-size: 35px;
      line-height: 130%;
      margin-right: auto;
      text-transform: uppercase;
      color: #0054a4;
    }
    &-reset{
      margin-left: 60px;
      margin-right: 0;
    }
  }
}
