.subscribe{
  padding-top: 27px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
  &-str{
    position: absolute;
    right: 40px;
    top: 40px;
  }
  &-form{
    margin-left: 50%;
  }
  &-img{
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(calc(-100% + 280px),50%);
  }
}