extends ../layouts/default.pug

block variables
  -var pageTitle='404'

block content
  .page
    .page-404.content
      .page-404-img
        img(src="images/bg-blog.png", alt="")
      .page-404-content
        span 404
        .page-404-text Такой страницы больше нет.
        +link('/')
          |на главную
           








