extends ../layouts/default.pug

block variables
  -var pageTitle='О нас'

block content
  .page
    .about.content.paralax-box(data-hook=0)
      .about-content
        .about-title.show-item.showInLeft(data-group=0) о krass
        .about-list
          .about-list-item.show-item.showInLeft(data-group=0)
            +icon('calendar','svg')
            span 12 лет на рынке
          .about-list-item.show-item.showInLeft(data-group=0)
            +icon('europe','svg')
            span Европейское производство
          .about-list-item.show-item.showInLeft(data-group=0)
            +icon('iso','svg')
            span Международные стандарты ISO
      .about-bg.paralax-item
        .about-imgs
          span.staggers-item
            img(src="images/banner-2.png" alt="" width='235' data-group=1).show-item.showInTop
          span.staggers-item
            img(src="images/banner-4.png" alt="" width="250" data-group=1).show-item.showInTop
          span.staggers-item
            img(src="images/banner-3.png" alt="" width="227" data-group=1).show-item.showInTop
    .about-words
      each item in [1,2,3]
        .about-words-item
          span Удобно
            +icon('multi-str-blue','svg')
          span практично
            +icon('multi-str-blue','svg')
          span герметично
            +icon('multi-str-blue','svg')
    .about-info.content
      .about-info-text ТМ Krass появилась на российском рынке 12 лет назад. Большинство продуктов Krass производится
        |в Европе. Продукция отвечает европейским стандартам качества и соответствует
        |международным стандартам ISO. <br><br>
        |За время присутствия на российском рынке продукция KRASS заслужила доверие, как профессионалов, так и домашних мастеров.
      .about-info-right

        .paralax-box.size-box
          .paralax-size-box
            img(src="images/about-info.jpg" alt="")
          .paralax-item
            img(src="images/about-info.jpg" alt="")
        span Активно развивается производство <br> Krass на территории России.
        +icon('multi-str-orange-down','svg')

    include ../modules/whereBuyMap.pug

    .about-production.content
      .about-production-top
        .about-production-title продукция
        span Продукция Krass имеет российские сан-эпидемиологические <br>
          | заключения, заключения об отсутствии озоноразрашающих <br>
          | веществ в своем составе, сертификаты соответствия.
      .header-product-content
        +header-products(getData('product/category'))
    include ../modules/subscribe.pug







