extends ../layouts/default.pug

block variables
  -var pageTitle='Статья детально'

block content
  .news-detail.content.fixed-base(data-max-width="1250")
    .fixed-box
      .fixed-item
        .news-detail-back
          +linkBlue('')
            |вернуться в блог
      .fixed-item
        .news-detail-share#share.active
          span(data-toggle='share') Поделиться
          .news-detail-share-icon
            +icon('small-str','svg')
          .news-detail-share-list
            a(href="https://www.facebook.com/sharer/sharer.php?u=#url" target="_blank")
              +icon('fb','svg')
            a(href="'http://vkontakte.ru/share.php?url=#" target="_blank")
              +icon('vk','svg')
            a(href="http://twitter.com/share?url=#" target="_blank")
              +icon('tw','svg')
    .news-detail-box
      .news-detail-title Герметик — незаменимый строительный материал
      .news-detail-date 28 мая 2020
        .news-detail-tags
          a(href="") Герметик
          a(href="") Ремонт
      .outside
        img(src="images/main-blog-1.jpg" alt="")
      p В большинстве случаев при выборе квартиры в новостройке предпочтение отдается вариантам без отделки. Стоимость такой жилплощади ниже, чем полностью отделанного жилья, а отсутствие ремонта предоставляет владельцу полную свободу воплощения своих фантазий. Ремонт в новостройке позволяет оформить квартиру именно так, как хочется хозяину, с учетом его личных вкусов и финансовых возможностей.
        |<br><br>Планируя ремонт в новостройке, следует учитывать один важный нюанс, а именно – наличие усадки. В первые годы после постройки практически любое здание дает усадку, величина которой разнится в зависимости от грунта, этажности постройки, качества использованных стройматериалов и других факторов. Усадка, особенно значительная, может отразиться на состоянии потолков и стен, и готовые покрытия могут пойти трещинами. Поэтому не рекомендуется сразу же делать в новостройке капитальный ремонт. Лучше обойтись необходимым минимумом, а спустя год-другой довести квартиру до идеала. Кроме того, такой подход позволит максимально грамотно продумать будущий ремонт, понять свои предпочтения относительно стилистики и планировки жилья, найти подходящих исполнителей и присмотреть материалы.
      .outside
        h2 Основные этапы ремонта в новостройке
      ul
        li современный стиль – традиционный ремонт, подходящий всем. Светлые тона, типовая мебель, ламинат на полу и обои на стенах – это наиболее бюджетный вариант;
        li прованс – решение для поклонников неторопливой загородной жизни. Обилие плетеной мебели и натуральной отделки характеризуют этот стиль;
        li минимализм – «чем меньше, тем лучше». Максимум свободного пространства и функциональности – для свободолюбивых натур;
        li лофт – наиболее свободный стиль, не лишенный уюта. Декоративные элементы сочетаются здесь с нарочитой небрежностью отделки – кирпичными стенами, штукатуркой, неокрашенными панелями из дерева. Оптимальный вариант для квартир-студий.
      .outside
        img(src="images/main-blog-5.jpg" alt="")
      p В большинстве случаев при выборе квартиры в новостройке предпочтение отдается вариантам без отделки. Стоимость такой жилплощади ниже, чем полностью отделанного жилья, а отсутствие ремонта предоставляет владельцу полную свободу воплощения своих фантазий. Ремонт в новостройке позволяет оформить квартиру именно так, как хочется хозяину, с учетом его личных вкусов и финансовых возможностей.
      .outside
        .video
          <iframe width="560" height="315" src="https://www.youtube.com/embed/d6YT8ARj66Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          .video-play
            span смотреть видео      
            span смотреть видео      
            span смотреть видео      
  .blog-another.content
    .blog-another-title Похожие публикации
    .blog-list.slider
      include ../modules/list_items_blog.pug

  include ../modules/subscribe.pug







