extends ../layouts/default.pug

block variables
  -var pageTitle='Каталог'


block content
  .page
    .page-head.content.scroll-trigger.paralax-box(data-hook=0).catalog-head
      .page-head-title.section-title монтажные пены
      .page-head-content
        .page-head-menu
          a.page-head-menu-link.active(href="") Все
          a.page-head-menu-link(href="") Krass Professional
          a.page-head-menu-link(href="") Krass Home Edition
          a.page-head-menu-link(href="") KRASS ULTRAFLEX
          a.page-head-menu-link(href="") очистители
      .page-head-bg
        .paralax-item
          img(src="images/catalog-head.png" alt="" height="450").catalog-img
      .page-head-link
        +link('./select-product.html')
          |подобрать герметик
    form.filter.content
      +filterSelect('typeB','typeB',[['0','Тип баллона'],['1','Тип баллона 2'],['3','Тип баллона 3']])
      +filterSelect('sezon','sezon',[['0','сезонность 1'],['1','сезонность 2'],['3','сезонность 3']])
      a.filter-reset
        span.simple
          +icon('reset','svg')
        span.hover
          +icon('reset-color','svg')
        |Сбросить

    .catalog.content
      .catalog-list
        include ../modules/list_items_catalog.pug
        include ../modules/list_items_catalog.pug
        include ../modules/list_items_catalog.pug
        include ../modules/list_items_catalog.pug
      include ../modules/catalogNav.pug

    include ../modules/useful_articles.pug
    include ../modules/next_category.pug

    include ../modules/subscribe.pug







