extends ../layouts/default.pug

block variables
  -var pageTitle='Каталог'


block content
  .page-head.content.scroll-trigger.paralax-box(data-hook=0).catalog-head.catalog-seals
    .page-head-title.section-title Уплотнители
    .page-head-content
    .page-head-bg
      .paralax-item
        img(src="images/catalog-head-4.png" alt="" height="218").catalog-img.catalog-img-bottom
  .catalog.content
    .catalog-list
      include ../modules/list_items_catalog.pug
      include ../modules/list_items_catalog.pug
      include ../modules/list_items_catalog.pug
      include ../modules/list_items_catalog.pug
    include ../modules/catalogNav.pug

  include ../modules/useful_articles.pug
  include ../modules/next_category.pug

  include ../modules/subscribe.pug







