extends ../layouts/default.pug

block variables
  -var pageTitle='Контакты'

block content
  .contacts-head.content
    .contacts-head-img
      img(src="images/bg-blog.png" alt="")
    .contacts-head-title.section-title
      .show-item.showInLeft(data-group='contacts-head') Контакты
    .contacts-head-content
      a.footer-phone(href="tel:8 495 995–­­90–35")
        .show-item.showInRight(data-group='contacts-head') 8 495 995–­­90–35
      .footer-loc.show-item.showInRight(data-group='contacts-head')
        span Московская область, Люберецкий р-н, пос.Октябрьский, ул.Фабричная, ГАС
        a(href="#map" data-search="Московская область, Люберецкий р-н, пос.Октябрьский, ул.Фабричная, ГАС").show-in-map на карте
      .contacts-worktime.show-item.showInRight(data-group='contacts-head')
        span Часы работы, Мск
        .contacts-worktime-list
          .contacts-worktime-item
            .time 9
              span 00
              i —
              |18
              span 00
            .date пнд–чт
          .contacts-worktime-item
            .time 9
              span 00
              i —
              |16
              span 45
            .date пт
  .contacts-map
    .map-data
      input(type="hidden" data-cords='55.688172, 37.719791' data-name='Вектор (ТЦ Муравейник)' data-content="ул. Суворова, 2 <br> (8412) 43 95 83")
    #map
  .contacts-faces.content
    .contacts-faces-title
      .show-item.showInLeft(data-group='contacts-faces') Оптовые продажи
    .contacts-faces-box
      .show-item.showInLeft(data-group='contacts-faces')
        +fieldSelect('faces','faces','Контактное лицо в регионе',[[0,'Москва'],[1,"Санкт-Петербург"]])
      .contacts-faces-list-wrapper
        .contacts-faces-list.show-item.showInRight(data-group='contacts-faces')
          .contacts-faces-item
            .contacts-faces-item-img
              img(src="images/face-1.jpg" alt="")
            .contacts-faces-item-name Игорь Мелехов
            .contacts-faces-item-work Руководитель продаж по СЗФО
            .contacts-faces-item-links
              a(href="tel:8 495 897–11–11")  8 495 897–11–11
              a(href="mailto:im@krass-products.ru") im@krass-products.ru
          .contacts-faces-item
            .contacts-faces-item-img
              img(src="images/face-2.jpg" alt="")
            .contacts-faces-item-name Игорь Мелехов
            .contacts-faces-item-work Руководитель продаж по СЗФО
            .contacts-faces-item-links
              a(href="tel:8 495 897–11–11")  8 495 897–11–11
              a(href="mailto:im@krass-products.ru") im@krass-products.ru
          .contacts-faces-item
            .contacts-faces-item-img
              img(src="images/face-3.jpg" alt="")
            .contacts-faces-item-name Игорь Мелехов
            .contacts-faces-item-work Руководитель продаж по СЗФО
            .contacts-faces-item-links
              a(href="tel:8 495 897–11–11")  8 495 897–11–11
              a(href="mailto:im@krass-products.ru") im@krass-products.ru


  include ../modules/question.pug
  include ../modules/subscribe.pug
