extends ../layouts/default.pug

block variables
  -var pageTitle='Новости'

block content
  .news-head.content
    .news-head-title Новости
  .news-list.content
    include ../modules/list_items_news.pug
    include ../modules/list_items_news.pug
    include ../modules/list_items_news.pug

    include ../modules/catalogNav.pug

  include ../modules/subscribe.pug







