extends ../layouts/default.pug

block variables
  -var pageTitle='Продукт'

block content
  .page
    .product.content
      .breadcrumbs
        a(href="") Главная
        a(href="") Герметики
        span Герметик по дереву KRASS акриловый (Паркет) Россия
      .product-row
        .product-left
          .product-buts
            a(href="")
              +icon('print','svg')
            a(href="")
              +icon('share','svg')
          .product-tags
            span Хит продаж
            span Новинка
          .product-preview.swiper-container#product-preview
            .swiper-wrapper
              .swiper-slide
                img(src="images/product-detail.jpg" alt="")
              .swiper-slide
                img(src="images/product-detail.jpg" alt="")
              .swiper-slide
                img(src="images/product-detail.jpg" alt="")
          .product-imgs.swiper-container#product-slider
            .swiper-wrapper
              .swiper-slide
                img(src="images/product-detail.jpg" alt="")
              .swiper-slide
                img(src="images/product-detail.jpg" alt="")
              .swiper-slide
                img(src="images/product-detail.jpg" alt="")
        .product-right
    include ../modules/subscribe.pug







