extends ../layouts/default.pug

block variables
  -var pageTitle='тест'


block content
  .page
    include ../modules/subscribe.pug
    include ../modules/subscribe.pug
    include ../modules/subscribe.pug
    include ../modules/subscribe.pug