.paralax {
  &-box {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  &-item {
    @include performance();
    position: relative;
    top: -90px;
    will-change: transform;
    height: calc(100% + 90px);
  }
}
.scroll {
  &-box {
    @include performance();
    position: absolute;
    overflow: hidden;
    z-index: 2;
    transform-style: flat;
    will-change: transform;
    width: 100%;
  }
  &-viewport {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.view-item {
  @include will-change(opacity, null, -1);
}
@mixin animateF($name, $begin, $end) {
  @include performance();
  transform: $begin;
  &.play {
    animation: $name $ease-main both;
    animation-duration: 1s;
  }
  @keyframes #{$name} {
    0% {
      transform: $begin;
    }
    100% {
      transform: $end;
    }
  }
}
.show-item {
  &.showInLeft {
    @include animateF(showInLeft, translateX(-60vw), translateX(0));
    &-self {
      @include animateF(
        showInLeft-self,
        translateX(calc(-100% - 60px)),
        translateX(0)
      );
    }
  }
  &.showInTop {
    @include animateF(showInTop, translateY(-90vh), translateY(0));
    &-self {
      @include animateF(
        showInTop-self,
        translateY(calc(-100% - 60px)),
        translateY(0)
      );
    }
  }
  &.showInBottom {
    @include animateF(showInBottom, translateY(90vh), translateY(0));
    &-self {
      @include animateF(
        showInBottom-self,
        translateY(calc(100% + 60px)),
        translateY(0)
      );
    }
  }
}

.staggers-item {
  i {
    display: block;
    transform-origin: bottom center;
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
    &.hit {
      pointer-events: all;
      position: absolute;
      width: 50%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}
