.blog {
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding-top: 60px;
    @media (max-width: 1366px) {
      padding-top: 30px;
    }
    @media (max-width: 768px) {
      grid-column-gap: 15px;
      padding-top: 30px;
    }
    @media (max-width: 650px) {
      grid-template-columns: 1fr;
    }
  }
  &-item {
    transition: transform $ease-main;
    @media (max-width: 650px) {
      min-width: calc(100vw - 60px);
      &:first-child {
        margin-right: 10px;
      }
    }
    &:hover {
      @media (min-width: 1025px) {
        transform: translateY(-20px);
        .usefulArt {
          &-item-title {
            color: #cc3e1e;
          }
        }
      }
    }
    &-img {
      width: 100%;
      @media (max-width: 1366px) {
        overflow: hidden;
        display: block;
        max-height: 200px;
      }
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
    &-content {
      padding: 35px 60px;
      min-height: 280px;
      padding-bottom: 80px;
      background: white;
      position: relative;
      @media (max-width: 1366px) {
        padding: 20px 30px;
        min-height: 260px;
        padding-bottom: 60px;
      }
      @media (max-width: 1024px) {
        padding: 25px 20px;
        padding-bottom: 90px;
      }
      @media (max-width: 768px) {
        padding-bottom: 80px;
      }
    }
    &-title {
      margin-bottom: 20px;
      font-style: normal;
      font-weight: bold;
      display: block;
      font-size: 24px;
      line-height: 130%;
      color: #3b3f44;
      transition: color $ease-main;

      @media (max-width: 1024px) {
        font-size: 20px;
        line-height: 130%;
      }
    }
    &-text {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 130%;
      color: #868686;
    }
    &-date {
      position: absolute;
      bottom: 30px;
      left: 60px;
      display: inline-flex;
      align-items: center;
      flex-wrap: wrap;
      span {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 130%;
        color: #868686;
      }
      @media (max-width: 1366px) {
        justify-content: flex-end;
        left: 30px;
      }
      @media (max-width: 1024px) {
        right: 20px;
        bottom: 60px;
      }
      @media (max-width: 768px) {
        bottom: 50px;
      }
    }
    &-tags {
      position: absolute;
      bottom: 30px;
      right: 60px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @media (max-width: 1366px) {
        right: 30px;
      }
      @media (max-width: 1024px) {
        right: 20px;
      }
      @media (max-width: 768px) {
        right: 20px;
        bottom: 20px;
      }
      a {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 130%;
        color: #3b3f44;
        border-bottom: 1px solid #dddddd;
        margin-right: 20px;
        @include tagHover();
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &-box {
    margin-bottom: 180px;
    @media (max-width: 1024px) {
      margin-bottom: 60px;
    }
    .catalog-nav {
      margin-top: 50px;
      @media (max-width: 650px) {
        margin-top: 30px;
      }
    }
  }
  &-tags {
    padding-top: 50px;
    @media (max-width: 768px) {
      padding-top: 30px;
      @include scrollBox("1");
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 768px) {
        white-space: nowrap;
        flex-wrap: nowrap;
      }
      a {
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 130%;
        color: #3b3f44;
        margin: 10px 0;
        margin-right: 40px;
        padding-bottom: 2px;
        border-bottom: 1px solid #dddddd;
        @include tagHover();
        @media (max-width: 768px) {
          margin: 0;
          margin-right: 40px;
        }
      }
    }
  }
  &-another {
    margin: 180px 0;
    @media (max-width: 1024px) {
      margin: 60px 0;
    }
    .blog-item:nth-child(n + 3) {
      display: none;
    }
    &-title {
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 130%;
      text-transform: uppercase;
      color: #0054a4;
      @media (max-width: 1024px) {
        font-size: 25px;
        line-height: 110%;
      }
    }
  }
}
