.catalog {
  background: #f8f8f8;
  padding-top: 30px;
  padding-bottom: 60px;
  @media (max-width: 550px) {
    padding-bottom: 30px;
  }
  &-list {
    @include grid();
  }
  &-item {
    background-color: white;
    padding: 40px;
    position: relative;
    display: block;
    transition: transform $ease-main;
    &:hover {
      transform: translateY(-20px);
    }
    &-mass {
      position: absolute;
      left: 20px;
      top: 20px;
      width: 50px;
      span {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-style: normal;
        font-weight: bold;
        font-size: 9px;
        line-height: 140%;
        border: 1px solid #95c5f3;
        align-items: center;
        display: flex;
        justify-content: center;
        text-transform: uppercase;

        color: #0054a4;
        margin-bottom: 5px;
      }
    }
    &-inf {
      position: absolute;
      right: 20px;
      top: 20px;
      span {
        text-align: right;
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        line-height: 150%;
        text-align: right;
        text-transform: uppercase;
        color: #0054a4;
      }
    }
    &-img {
      height: 280px;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-bottom: 30px;
      padding: 0 35px;
      max-height: 280px;
      @media(min-width: 661px){
        height: calc((100vw - 45px)/3);
      }
      @media(min-width: 981px){
        height: calc((100vw - 80px)/4.5);
      }
      @media(min-width: 1351px){
        height: calc((100vw - 150px)/6);
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &-name {
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 140%;
      text-transform: uppercase;
      color: #0054a4;
    }
  }
  &-nav {
    margin-top: 95px;
    @include gridColWidth();
    @media (max-width: 1366px) {
      margin-top: 60px;
    }
    @media (max-width: 1024px) {
      margin-top: 50px;
    }
    @media (max-width: 550px) {
      margin-top: 30px;
    }
  }
  &-pages {
    display: flex;
    align-items: center;
    grid-column: 2/3;
    @media (max-width: 1024px) {
      grid-column: 1/2;
    }
    @media (max-width: 550px) {
      grid-row: 2/3;
      justify-content: center;
    }
    a:not(.next) {
      display: flex;
      align-items: center;
      justify-content: center;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 140%;
      text-align: center;
      text-transform: uppercase;
      color: #0054a4;
      height: 50px;
      width: 50px;
      border: 1px solid transparent;
      transition: color $ease-main;
      &.active {
        border: 1px solid #0054a4;
      }
      &:hover {
        &:not(.active) {
          color: #cc3e1e;
        }
      }
    }
    .next {
      display: block;
      margin-left: 10px;
      margin-top: -5px;
    }
  }
  &-more {
    grid-column: 3/4;
    @media (max-width: 1024px) {
      grid-column: 2/3;
    }
    @media (max-width: 550px) {
      grid-column: 1/2;
    }
    font-style: normal;
    font-weight: bold;
    display: block;
    font-size: 15px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #0054a4;
    border: 1px dashed #0054a4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color $ease-main, border $ease-main;
    a {
      display: block;
    }
    &:hover {
      color: #cc3e1e;
      border-color: #cc3e1e;
      span {
        transform: rotate(180deg);
        &:before,
        &::after {
          background-color: #cc3e1e;
        }
      }
    }
    span {
      position: relative;
      display: block;
      width: 13px;
      height: 13px;
      margin-left: 10px;
      margin-top: -4px;
      transition: transform $ease-long;
      &::before {
        width: 13px;
        height: 1px;
        display: block;
        content: "";
        position: absolute;
        left: 50%;
        transition: background $ease-main;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #0054a4;
        border-radius: 2px;
      }
      &::after {
        width: 13px;
        height: 1px;
        display: block;
        content: "";
        transition: background $ease-main;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        background: #0054a4;
        border-radius: 2px;
      }
    }
  }
}
