.main {
  &-banner {
    height: 100vh;
    padding-top: 120px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    overflow: hidden;
    @media (max-width: 1024px) {
      min-height: 780px;
    }
    &:before {
      content: "";
      display: block;
      background: linear-gradient(
        90deg,
        rgba(226, 234, 239, 0.69) 0%,
        rgba(218, 230, 239, 0) 46.88%
      );
      width: 100%;
      padding-bottom: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }
    &-bg {
      @include background("../images/banner-bg.jpg");
      background-position: right bottom;
      background-color: #dbe7ed;
      background-size: 1920px 1080px;
      position: absolute;
      z-index: -1;
      top: -45px;
      height: calc(100% + 90px);
      left: 0;
      width: 100%;
      @media (max-width: 1400px) {
        width: calc(100% + 175px);
        left: 0;
      }
      @media(max-width: 1366px) and (max-height: 800px){
        background-position: right calc(100% + 50px);
      }
      @media (max-width: 1024px) {
        min-height: 780px;
        background-size: 1536px 864px;
        background-position: calc(100% - 70px) bottom;
      }
      @media (max-width: 768px) {
        background-size: 960px 540px;
        width: 100%;
        background-color: #dbe7ed;
        background-position: calc(100% - 20px) center;
        top: -90px;
        &::before {
          content: "";
          width: 1000px;
          margin-top: 124px;
          height: 500px;
          background-color: #d3e4ec;
          position: absolute;
          transform-origin: right top;
          transform: rotate(-15.5deg);
          top: 50%;
          right: 0;
        }
      }
      @media (max-width: 550px) {
        background-position: right center;
        width: calc(100% + 120px);
        &::before {
          margin-top: 130px;
        }
      }
    }
    &-text {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }
    &-title {
      font-style: normal;
      font-weight: bold;
      font-size: 80px;
      line-height: 80px;
      text-transform: uppercase;
      color: #0054a4;
      @media (max-width: 1400px) {
        font-size: 65px;
        line-height: 65px;
      }
      @media (max-width: 1024px) {
        font-size: 28px;
        line-height: 28px;
      }
      span {
        margin-bottom: 40px;
        @media (max-width: 1400px) {
          margin-bottom: 30px;
        }
        @media (max-width: 1024px) {
          margin-bottom: 10px;
        }
        display: block;
        text-align: left;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &-sub {
      margin: auto 0;

      top: -20px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 140%;
      position: relative;
      color: #0054a4;
      max-width: 250px;
      @media (max-width: 1024px) {
        left: auto !important;
        right: 15px;
        top: 120px;
        position: absolute;
      }
      @media (max-width: 768px) {
        top: 80px;
      }
    }
    &-img {
      position: absolute;
      right: 621px;
      bottom: 244px;
      @media(max-width: 1366px) and (max-height: 800px){
        bottom: 190px;
      }
      @media (max-width: 1024px) {
        right: 556px;
        bottom: 179px;
      }
      @media (max-width: 768px) {
        right: 325px;
        bottom: calc(50% - 183px);
      }
      @media (max-width: 550px) {
        right: 305px;
      }
      span {
        position: absolute;
        display: block;
        transform: translateX(-50%);
        left: 60px;
        img {
          animation-duration: 1.3s !important;
          display: block;
        }
        &:nth-child(1) {
          left: -118px;
          bottom: 37px;
          i {
            transform-origin: 28% 90%;
          }
          .hit {
            left: 13%;
            top: 9%;
            height: 84%;
            width: 36%;
          }
          @media (max-width: 1024px) {
            left: -91px;
            bottom: 33px;
          }
          @media (max-width: 768px) {
            left: -53px;
            bottom: 48px;
            img {
              width: 116px;
            }
          }
        }
        &:nth-child(2) {
          bottom: 132px;
          left: 87px;

          i {
            transform-origin: 23% 103%;
          }
          @media (max-width: 1024px) {
            bottom: 119px;
            left: 70px;
          }
          @media (max-width: 768px) {
            bottom: 100px;
            left: 45px;
            img {
              width: 104px;
            }
          }
        }
        &:nth-child(3) {
          left: 218px;
          bottom: -11px;
          i {
            transform-origin: 18% 95%;
          }
          .hit {
            left: 3%;
            width: 38%;
            height: 97%;
          }
          @media (max-width: 1024px) {
            left: 184px;
            bottom: 4px;
          }
          @media (max-width: 768px) {
            left: 117px;
            bottom: 31px;
            img {
              width: 115px;
            }
          }
        }
        &:nth-child(4) {
          bottom: -125px;
          left: 27px;
          i {
            transform-origin: 34% 92%;
          }
          .hit {
            left: 16%;
            width: 38%;
            height: 82%;
            top: 7%;
          }
          @media (max-width: 1024px) {
            bottom: -96px;
            left: 23px;
          }
          @media (max-width: 768px) {
            bottom: -34px;
            left: 13px;
            img {
              width: 157px;
            }
          }
        }
      }
    }
    &-link {
      margin-top: 20px;
      @media (min-width: 1025px) {
        position: absolute;
        right: 40px;
        bottom: 40px;
        margin-top: 0;
      }
    }
  }
  &-blog {
    position: relative;
    padding-top: 20px;
    margin: 180px 0;
    @media (max-width: 1250px) {
      margin: 90px 0;
    }
    @media (max-width: 1024px) {
      margin-top: 0;
      padding-top: 90px;
    }
    @media (max-width: 650px) {
      margin-bottom: 50px;
    }
    &-title {
      margin-bottom: 80px;
      @media (max-width: 1024px) {
        margin-bottom: 30px;
      }
    }
    &-link {
      position: absolute !important;
      right: 40px;
      left: auto;
      top: 25px;
      @media (max-width: 1250px) {
        top: 20px;
      }
      @media (max-width: 1150px) {
        top: 15px;
      }
      @media (max-width: 1024px) {
        display: none;
      }
      &-mobile {
        @media (min-width: 1025px) {
          display: none;
        }
      }
    }
    &-list {
      background-image: url(../images/bg-blog.svg);
      background-position: left center;
      background-repeat: no-repeat;
      @media (max-width: 1024px) {
        background: none;
      }
    }
    &-content {
      > * {
        padding-left: 390px;
        @media (max-width: 1024px) {
          padding-left: 0;
        }
      }
    }
    &-item {
      display: flex;
      min-height: 450px;
      position: relative;
      padding: 40px 100px;
      z-index: 2;
      margin-bottom: 40px;
      overflow: hidden;
      justify-content: flex-end;
      @media (max-width: 650px) {
        display: block;
        padding: 0;
        min-height: auto;
      }
      &:nth-child(odd){
        justify-content: flex-start;
        &:before {
          right: auto;
          left: 0;
        }
      }
      &:nth-child(3) {
        justify-content: flex-end;
        &:before {
          left: auto;
          right: 0;
        }
      }
      &:hover {
        &:before {
          transform: translateY(0);
        }
        .main-blog-item {
          &-title {
            color: $color-hover-link;
          }
        }
      }
      &:before {
        content: "";
        background: $color-hover-link;
        display: block;
        height: 50%;
        width: 600px;
        bottom: 0;
        position: absolute;
        right: 0;
        will-change: transform;
        transition: transform $ease-long;
        transform: translateY(100%);
        @media (max-width: 650px) {
          content: none;
        }
      }
      &-img {
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        z-index: -1;
        top: 0;
        @media (max-width: 1024px) {
          .paralax-item {
            display: flex;
            justify-content: center;
          }
        }
        @media (max-width: 650px) {
          position: relative;
          height: 150px;
        }
        img {
          height: 100%;
          display: block;
        }
      }
      &-content {
        padding: 35px 40px;
        background: white;
        max-width: 400px;
        position: relative;
        @media (max-width: 650px) {
          padding: 20px;
          padding-bottom: 50px;
          max-width: none;
        }
      }
      &-title {
        margin-bottom: 20px;
        font-style: normal;
        font-weight: bold;
        display: block;
        font-size: 24px;
        line-height: 130%;
        color: #3b3f44;
      }
      &-text {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 130%;
        color: #868686;
      }
      &-tags {
        position: absolute;
        bottom: 30px;
        left: 40px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 650px) {
          left: 20px;
          bottom: 10px;
        }
        a {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 130%;
          color: #3b3f44;
          border-bottom: 1px solid #dddddd;
          margin-right: 20px;
          @include tagHover();
        }
      }
    }
  }
}
.production {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  @media (max-width: 768px) {
    display: block;
    padding-top: 120px;
    padding-bottom: 120px;
    height: auto !important;
  }
  &-menu {
    &-item {
      margin-bottom: 16px;
      position: relative;
      &.active {
        .production-menu {
          &-title {
            transform: translateY(-30px);
            color: $color-hover-link;
          }
          &-sub {
            @include opacityShow();
          }
        }
      }
      &.prev {
        .production-menu {
          &-title {
            transform: translateY(-30px);
          }
        }
      }
    }
    &-title {
      will-change: transform;
      @include performance();
      cursor: pointer;
      transition: transform $ease-main, color $ease-main;
    }
    &-sub {
      @include opacityHide();
      display: flex;
      position: absolute;
      top: 100%;
      transform: translateY(-30px);
      left: 0;

      white-space: nowrap;
      @media (max-width: 768px) {
        flex-wrap: wrap;
        margin-top: 5px;
      }
      a {
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 250%;
        text-transform: uppercase;
        color: $color-hover-link;
        display: block;
        margin-right: 20px;
        @media (max-width: 1250px) {
          font-size: 12px;
        }
        @media (max-width: 768px) {
          line-height: 150% !important;
        }
      }
    }
  }
  &-imgs {
    background: #f8f8f8;
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    width: 100%;
    @media (max-width: 768px) {
      display: none;
    }
    &-mobile {
      @media (min-width: 769px) {
        display: none;
      }
      &-box {
        position: relative;
        @media (max-width: 768px) {
          left: -15px;
        }
      }
      &-item {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        overflow: hidden;
        &:first-child {
          position: relative;
          height: auto;
        }
        img {
          position: relative;
          max-width: 100vw;
        }
        &:not(.active) {
          animation: hideBoxImgs both 1s;
        }
        &.active {
          animation: showBoxImgs both 1s;
          img {
            animation: showBoxInsideImgs both 1s;
          }
        }
        @keyframes hideBoxImgs {
          0% {
            width: 100vw;
          }
          100% {
            width: 0;
          }
        }
        @keyframes showBoxImgs {
          0% {
            width: 0;
            left: 100vw;
          }
          100% {
            width: 100vw;
            left: 0;
          }
        }
        @keyframes showBoxInsideImgs {
          0% {
            left: -100vw;
          }
          100% {
            left: 0;
          }
        }
      }
    }
  }
  &-preview {
    position: absolute;
    right: 40px;
    bottom: 40px;
    @media (max-width: 1024px) {
      bottom: 50%;
      right: 20px;
      transform: translateY(75px);
    }
    @media (max-width: 768px) {
      right: 15px;
    }
    &-wrapper {
      position: relative;
      overflow: hidden;
      width: 270px;
      height: 440px;
      animation: hideBox both 1s;
      @media (max-width: 1250px) {
        height: 340px;
        width: 200px;
      }
      @media (max-width: 1024px) {
        height: 150px;
        width: 100px;
      }
    }
    &-box {
      overflow: hidden;
      position: relative;
      width: 270px;
      position: absolute;
      bottom: 0;
      left: 0;
      animation: none;
      @media (max-width: 1250px) {
        width: 200px;
      }
      @media (max-width: 1024px) {
        width: 100px;
      }
    }
    &-item {
      position: absolute;
      bottom: 0;
      left: -270px;
      @media (max-width: 1250px) {
        left: -200px;
      }
      @media (max-width: 1024px) {
        left: -100px;
      }
      &.active {
        .production-preview {
          &-link {
            @include opacityShow();
          }
          &-wrapper {
            width: 270px;
            animation: showBox both 1s;
            @media (max-width: 1250px) {
              width: 200px;
            }
            @media (max-width: 1024px) {
              width: 100px;
            }
          }
          &-box {
            animation: showBoxInside both 1s;
          }
        }
      }
      &:not(.active) {
        .production-preview-but {
          .big-link-mask span {
            animation-play-state: paused;
          }
        }
      }
    }
    &-but {
      @media (min-width: 1251px) {
        &.mobile {
          display: none;
          span {
            animation: none !important;
          }
        }
      }
      @media (max-width: 1250px) {
        &:not(.mobile) {
          display: none;
          span {
            animation: none !important;
          }
        }
      }
    }
    &-img {
      margin-bottom: 20px;
      img {
        display: block;
        height: 100%;
        width: 100%;
      }
    }
    @keyframes hideBox {
      0% {
        width: 270px;
      }
      100% {
        width: 0;
      }
    }
    @keyframes showBox {
      0% {
        width: 0;
        left: 270px;
      }
      100% {
        width: 270px;
        left: 0;
      }
    }
    @keyframes showBoxInside {
      0% {
        left: -270px;
      }
      100% {
        left: 0;
      }
    }
    @media (max-width: 1250px) {
      @keyframes hideBox {
        0% {
          width: 200px;
        }
        100% {
          width: 0;
        }
      }
      @keyframes showBox {
        0% {
          width: 0;
          left: 200px;
        }
        100% {
          width: 200px;
          left: 0;
        }
      }
      @keyframes showBoxInside {
        0% {
          left: -200px;
        }
        100% {
          left: 0;
        }
      }
    }
    @media (max-width: 1024px) {
      @keyframes hideBox {
        0% {
          width: 100px;
        }
        100% {
          width: 0;
        }
      }
      @keyframes showBox {
        0% {
          width: 0;
          left: 100px;
        }
        100% {
          width: 100px;
          left: 0;
        }
      }
      @keyframes showBoxInside {
        0% {
          left: -100px;
        }
        100% {
          left: 0;
        }
      }
    }
  }
  &-buts {
    position: absolute;
    left: 430px;
    bottom: 40px;
    @media (max-width: 1250px) {
      left: 40px;
    }
    @media (max-width: 768px) {
      bottom: 0;
      left: 15px;
    }
    &-item {
      position: absolute;
      left: 0;
      bottom: 0;
      & > * + * {
        margin-top: 20px;
      }
      & > * {
        @include opacityHide();
        transition: opacity $ease-long;
      }
      &.active {
        & > * {
          @include opacityShow();
        }
      }
      &:not(.active) {
        pointer-events: none;
        span {
          animation-play-state: paused;
        }
      }
    }
  }
  &-counter {
    position: absolute;
    bottom: 40px;
    left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    @media (max-width: 1250px) {
      display: none;
    }
    &-list {
      position: relative;
      width: 24px;
      height: 21px;
      margin-bottom: 25px;
      i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        text-align: right;
        text-transform: uppercase;
        color: #0054a4;
        animation: countOut $ease-long both;
        &.active {
          animation-name: countIn;
        }
        @keyframes countOut {
          0% {
            margin-top: 0;
            opacity: 1;
          }
          100% {
            margin-top: -30px;
            opacity: 0;
          }
        }
        @keyframes countIn {
          0% {
            margin-top: 30px;
            opacity: 0;
          }
          100% {
            margin-top: 0;
            opacity: 1;
          }
        }
      }
    }
    &-count {
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 12px;
      text-align: right;
      text-transform: uppercase;
      color: #0054a4;
    }
  }
}
