.main {
  &-banner {
    height: 100vh;
    padding-top: 120px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 1920px 1080px;
    overflow: hidden;
    &:before {
      content: "";
      display: block;
      background: linear-gradient(
        90deg,
        rgba(226, 234, 239, 0.69) 0%,
        rgba(218, 230, 239, 0) 46.88%
      );
      width: 100%;
      padding-bottom: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }
    &-text {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }
    &-title {
      font-style: normal;
      font-weight: bold;
      font-size: 80px;
      line-height: 80px;
      text-transform: uppercase;
      color: #0054a4;
      span {
        margin-bottom: 40px;
        display: block;
        text-align: left;
      }
    }
    &-sub {
      margin-bottom: 160px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 140%;
      color: #0054a4;
      max-width: 250px;
    }
    &-img {
      position: absolute;
      right: 621px;
      bottom: 244px;
      span {
        position: absolute;
        display: block;
        transform: translateX(-50%);
        left: 60px;
        &:nth-child(1) {
          left: -98px;
          bottom: 45px;
        }
        &:nth-child(2) {
          bottom: 89px;
          left: 63px;
        }
        &:nth-child(3) {
          left: 218px;
          bottom: -18px;
        }
        &:nth-child(4) {
          bottom: -132px;
          left: 27px;
        }
      }
    }
    &-link{
      position: absolute;
      right: 40px;
      bottom: 40px;
    }
  }
  &-blog {
    position: relative;
    padding-top: 20px;
    margin: 180px 0;
    &-title {
      margin-bottom: 80px;
    }
    &-link {
      position: absolute !important;
      right: 40px;
      left: auto;
      top: 0;
    }
    &-list {
      background-image: url(../images/bg-blog.png);
      background-position: left center;
      background-repeat: no-repeat;
    }
    &-content {
      > * {
        padding-left: 390px;
      }
    }
    &-item {
      display: flex;
      min-height: 450px;
      position: relative;
      padding: 40px 100px;
      z-index: 2;
      margin-bottom: 40px;
      overflow: hidden;
      &:nth-child(3) {
        justify-content: flex-end;
        &:before {
          left: auto;
          right: 0;
        }
      }
      &:hover {
        &:before {
          transform: translateY(0);
        }
        .main-blog-item {
          &-title {
            color: $color-hover-link;
          }
        }
      }
      &:before {
        content: "";
        background: $color-hover-link;
        display: block;
        height: 50%;
        width: 50%;
        bottom: 0;
        position: absolute;
        left: 0;
        will-change: transform;
        transition: transform 0.6s;
        transform: translateY(100%);
      }
      &-img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        z-index: -1;
        top: 0;
        img {
          height: 100%;
          display: block;
        }
      }
      &-content {
        padding: 35px 40px;
        background: white;
        max-width: 400px;
        position: relative;
      }
      &-title {
        margin-bottom: 20px;
        font-style: normal;
        font-weight: bold;
        display: block;
        font-size: 24px;
        line-height: 130%;
        color: #3b3f44;
      }
      &-text {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 130%;
        color: #868686;
      }
      &-tags {
        position: absolute;
        bottom: 30px;
        left: 40px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        a {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 130%;
          color: #3b3f44;
          border-bottom: 1px solid #dddddd;
          margin-right: 20px;
        }
      }
    }
  }
}
.production {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  &-menu {
    &-item {
      margin-bottom: 30px;
      position: relative;
      &.active {
        .production-menu {
          &-title {
            transform: translateY(-37px);
            color: $color-hover-link;
          }
          &-sub {
            @include opacityShow();
          }
        }
      }
      &.prev {
        .production-menu {
          &-title {
            transform: translateY(-37px);
          }
        }
      }
    }
    &-title {
      will-change: transform;
      cursor: pointer;
      transition: transform 0.3s, color 0.3s;
    }
    &-sub {
      @include opacityHide();
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      white-space: nowrap;
      a {
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 250%;
        text-transform: uppercase;
        color: $color-hover-link;
        display: block;
        margin-right: 20px;
      }
    }
  }
  &-imgs {
    position: absolute;
    background: #f8f8f8;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    width: 100%;
  }
  &-preview {
    position: absolute;
    right: 40px;
    bottom: 40px;
    &-wrapper {
      position: relative;
      overflow: hidden;
      width: 270px;
      height: 440px;
      animation: hideBox both 1s;
    }
    &-box {
      overflow: hidden;
      position: relative;
      width: 270px;
      position: absolute;
      bottom: 0;
      left: 0;
      animation: none;
    }
    &-item {
      position: absolute;
      bottom: 0;
      left: -270px;
      &.active {
        .production-preview {
          &-link {
            @include opacityShow();
          }
          &-wrapper {
            width: 270px;
            animation: showBox both 1s;
          }
          &-box {
            animation: showBoxInside both 1s;
          }
        }
      }
    }
    &-img {
      margin-bottom: 20px;
      img {
        display: block;
      }
    }
    &-link {
      position: absolute !important;
      right: 60vw;
      bottom: 20px;
      min-width: 200px;
      @include opacityHide();
    }
    @keyframes hideBox {
      0% {
        width: 270px;
      }
      100% {
        width: 0;
      }
    }
    @keyframes showBox {
      0% {
        width: 0;
        left: 270px;
      }
      100% {
        width: 270px;
        left: 0;
      }
    }
    @keyframes showBoxInside {
      0% {
        left: -270px;
      }
      100% {
        left: 0;
      }
    }
  }
}
